{% block body %}
	<span title="Press here to close the suggestions" class="close-suggestions" onclick="javascript:$('.suggestions-wrapper').remove();">&#10005;</span>
	<span class="results">Found <strong>{{ totalResults }}</strong> results. 
	{% if displayLimit > 0 %}Displaying the first <strong>{{ displayLimit }}</strong> results matching <strong>{{ keyword }}</strong> keyword.{% endif %}</span>
	<ul>
    	{% for i, product in results %}
            <li class="result-element" data-index="{{ i+1 }}.">
                <a class="color-inherit" href="{{ product.link }}">
                	<h5 class="format-inherit" title="{{ product.title|trim }}">{{ product.title|trim }}</h5>
                	<span class="color-gray-dark">Price: {{ product.price }} | Price min: {{ product.price_min }} | Price max: {{ product.price_max }} | Date: {{ product.date|date('F d, Y') }}</span>
            	</a>
            </li>
        {% endfor %}
	</ul>
	{% if totalResults > 0 %}
    	<span><a href="javascript:void(0)" onclick="javascript:$('#ajaxSearchForm').submit();">Show all</a> | <span class="text-12">Use <span class="color-black">&#11014;</span><span class="color-black">&#11015;</span> to navigate through products. Press enter to visit the page.</span></span>
    {% else %}
    	<span>Nothing to show</span>
    {% endif %}
{% endblock %}
