{% extends 'frontend.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Products list, provided by Price Hunter</h1>
        <div class="row">
            <div class="col-6 text-left">
                <p class="results">We found {{ totalProducts }} products for you</p>
            </div>
        </div>
        <div class="row saved-videos">
            {% for product in products %}
                <div class="col-md-6 col-lg-4">
                    <div class="video-box">
                        <h5><a title="{{ product.title|trim }}" href="{{ product.link }}">{{ product.title|trim }}</a></h5>
                        <div class="details-box" data-eq-height>
                            <p>Price: {{ product.price }}</p>
                            <p>Price min: {{ product.price_min }}</p>
                            <p>Price max: {{ product.price_max }}</p>
                            <p>Date: {{ product.date|date() }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div> 
        
        {{ render(controller( 'AlbAppBundle:PriceHunter:pagination', {'totalProducts': totalProducts, 'currentPage': currentPage} )) }}

        {# all products | good price | minimum price #}
    </div> <!-- /container -->
{% endblock %}
