{% extends 'frontend.html.twig' %}

{% block body %}
    <div class="container padding-bottom-20">
        <h1>Products list, provided by Price Hunter</h1>
        <div class="row">
            <div class="col-lg-6 text-left">
                <p class="results">We found {{ totalProducts }} products for you</p>
            </div>
            <form action={{ path('price_hunter_search_products') }} class="col-lg-6">
                <div class="form-group row no-margin padding-bottom-20">
                    <div class="col-sm-10 no-padding">
                        <input type="text" name="keyword" value="{{ app.request.get('keyword') }}" class="form-control">
                    </div>
                    <div class="col-sm-2 no-padding">
                        <input type="submit" value="Search" class="btn btn-success col-12">
                    </div>
                </div>
            </form>
        </div>

        <div class="row saved-videos">
            {% for product in products %}
                <div class="col-sm-6 col-md-4">
                    <div class="video-box">
                        <h5><a title="{{ product.title|trim }}" href="{{ product.link }}">{{ product.title|trim }}</a></h5>
                        <div class="details-box" data-eq-height>
                            <p>Price: {{ product.price }}
                                <br />Price min: {{ product.price_min }}
                                <br />Price max: {{ product.price_max }}
                                <br />Date: {{ product.date|date('F d, Y') }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div> 

        {{ render(controller( 'AlbAppBundle:PriceHunter:pagination', {'totalProducts': totalProducts, 'currentPage': currentPage} )) }}
        {# all products | good price | minimum price #}
    </div> <!-- /container -->
{% endblock %}
