{% extends 'frontend.html.twig' %}

{% block body %}
    <div class="container padding-bottom-20">
        <h1>Products list, provided by Price Hunter</h1>
        <div class="row">
            <div class="col-lg-6 text-left">
                <p class="results">Your search returned {{ results|length }} results</p>
            </div>
            <form action={{ path('price_hunter_search_products') }} class="col-lg-6">
            	<div class="form-group row no-margin">
                    <div class="col-10">
                        <input type="text" name="keyword" value="{{ app.request.get('keyword') }}" class="form-control">
                    </div>
                    <input type="submit" value="Search" class="btn btn-success col-2">
                </div>
            </form>
        </div>
{#         <div class="row saved-videos">
            {% for product in results %}
                <div class="col-sm-6 col-md-4">
                    <div class="video-box">
                        <h5><a title="{{ product.title|trim }}" href="{{ product.link }}">{{ product.title|trim }}</a></h5>
                        <div class="details-box" data-eq-height>
                            <p>Price: {{ product.price }}
                            	<br />Price min: {{ product.price_min }}
                            	<br />Price max: {{ product.price_max }}
                            	<br />Date: {{ product.date|date('F d, Y') }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>  #}

        <table id="results" class="display" cellspacing="0" width="100%">
	        <thead>
	            <tr>
	                <th width="400">Title</th>
	                <th>Price</th>
	                <th>Price min</th>
	                <th>Price max</th>
	                <th>Date</th>
	            </tr>
	        </thead>
	        <tfoot>
	            <tr>
	                <th>Title</th>
	                <th>Price</th>
	                <th>Price min</th>
	                <th>Price max</th>
	                <th>Date</th>
	            </tr>
	        </tfoot>
	        <tbody>
	        	{% for product in results %}
		            <tr>
		                <td><a title="{{ product.title|trim }}" href="{{ product.link }}">{{ product.title|trim }}</a></td>
		                <td>{{ product.price }}</td>
		                <td>{{ product.price_min }}</td>
		                <td>{{ product.price_max }}</td>
		                <td>{{ product.date|date('F d, Y') }}</td>
		            </tr>
		        {% endfor %}
	        </tbody>
	    </table>


        <script type="text/javascript">
	        $(document).ready(function() {
			    $('#results').DataTable({'bFilter': false});
			} );
        </script>

        {# all products | good price | minimum price #}
    </div> <!-- /container -->
{% endblock %}
