<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/albfrontend/css/narrow-jumbotron.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/albfrontend/third-party/jquery.bxslider/jquery.bxslider.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/albfrontend/third-party/font-awesome-4.7.0/css/font-awesome.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/albfrontend/css/style.css') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('bundles/albfrontend/third-party/jquery.bxslider/jquery.bxslider.min.js') }}"></script>
            <script src="{{ asset('bundles/albfrontend/js/script.js') }}"></script>
        {% endblock %}
    </body>
</html>
