<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/albfrontend/css/narrow-jumbotron.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/albfrontend/third-party/jquery.bxslider/jquery.bxslider.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/albfrontend/third-party/font-awesome-4.7.0/css/font-awesome.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/albfrontend/third-party/colorbox/colorbox.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/albfrontend/third-party/DataTables/datatables.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/albfrontend/css/fonts.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/albfrontend/css/common.css') }}" />
        {% if app.request.cookies.get('colour-theme')|length %}
            <link class="js-colour-theme" rel="stylesheet" href="{{ app.request.cookies.get('colour-theme') }}" />
        {% else %}
            <link class="js-colour-theme" rel="stylesheet" href="{{ asset('bundles/albfrontend/css/style.css') }}" />
        {% endif %}

        <!-- CSS rules for styling the element inside the editor such as p, h1, h2, etc. -->
        {% block javascripts %}
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('js/tether.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('bundles/albfrontend/third-party/colorbox/jquery.colorbox-min.js') }}"></script>
            <script src="{{ asset('bundles/albfrontend/third-party/DataTables/datatables.js') }}"></script>
            <script src="{{ asset('bundles/albfrontend/third-party/jquery.bxslider/jquery.bxslider.min.js') }}"></script>
            <script src="{{ asset('bundles/albfrontend/js/script.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        <div class="container-fluid top-navigation">
            <div class="row">
                <div class="col">
                    <div class="header clearfix">
                        {% include 'includes/main-menu.html.twig' %}

                        <h3 class="text-muted"><a title="Albinuta's Home" class="logo" href="{{ path('alb_frontend_homepage') }}"><img height="57" src="/images/bee-gif.gif" /> Albinuta</a></h3>
                    </div>
                </div>
            </div>
        </div>
        <main>{% block body %}{% endblock %}</main>
        {% include 'includes/change-theme-container.html.twig' %}
        <footer class="footer">
            <p>&copy; Albinuta {{ "now"|date("Y") }}</p>
        </footer>
    </body>
</html>
